@media (min-width: 48rem) {

    body {
        background-color: var(--background-color);
    }

    .card {
        max-width: 60.8rem;
        padding: 4.286rem 4rem;
        margin: 7.3rem 8rem;
        gap: 4rem;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    .main-section {
        padding: 0;
    }

    .text-preset-1-mobile {
        font-size: 5.6rem;
    }

    .form-section {
        padding: 0;
    }

    .form__submit-button {
        margin-bottom: 0;
    }

}