@media (min-width: 48rem) {

    body {
        background-color: var(--background-color);
        justify-content: center;
    }

    .card {
        max-width: 60.8rem;
        padding: 4.286rem 4rem;
        margin: 7.3rem 8rem;
        gap: 4rem;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    .main-section {
        padding: 0;
    }

    .text-preset-1-mobile {
        font-size: 5.6rem;
    }

    .form-section {
        padding: 0;
    }

    .form__submit-button {
        margin-bottom: 0;
    }

    .form__error-text {
        transform: translateX(42rem);
    }



    .submited-successfully-card {
        background-color: var(--card-color);
        width: 50.4rem;
        height: 52rem;
        padding: 6rem 6.4rem;
        border-radius: 3.6rem;
        margin-top: 0;
    }

}



@media (min-width: 64rem) {

    body {
        align-items: center;
        justify-content: center;
    }

    .card {
        flex-direction: row-reverse;
        align-items: center;
        max-width: 90.4rem;
        padding: 3.2rem;
        margin: 0;
        gap: 6.4rem;
    }

    section {
        gap: 3.2rem;
        max-width: 37.6rem;
    }

    .form__error-text {
        transform: translateX(26.8rem);
    }
}