:root {
    --white: #FFFFFF;
    --submit-button-text-color: #FFFFFF;
    --card-color: #FFFFFF;
    --form-border-and-text: #949494;
    --form-border-selected: #242742;
    --main-color: #242742;
    --background-color: #36384D;
    --error-text-color: #FF6155;
    --error-form-border-selected-background: #FFE7E6;
    --gradient-color-1: #FF6A3A;
    --gradient-color-2: #FF527B;
}


.text-preset-1-mobile {
    font-size: 4rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
}

.text-preset-2-bold {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-2-regular {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
}

.text-preset-3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    max-width: 37.5rem;
    border-radius: 3.6rem;
}

.main-image {
    max-width: 100%;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 4rem 2.4rem;
    gap: 2.4rem;
}

.main-section__title {
    color: var(--main-color);
}

.main-section__text {
    color: var(--main-color);
}

.main-section__list {
    list-style-image: url("../images/icon-list.svg");
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    margin-left: 2.8rem;
    gap: 0.8rem;
}


.main-section__list p {
    margin-left: 1rem;
}



.form-section {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__email-label {
    color: var(--main-color);
    margin-bottom: 0.8rem;
}

.form__email-input {
    color: var(--form-border-and-text);
    border: solid 0.15rem var(--form-border-and-text);
    border-radius: 0.8rem;
    height: 5.6rem;
    margin-bottom: 2.4rem;
    padding-left: 2.4rem;
}

.form__email-input:focus{
    color: var(--main-color);
    border: solid 0.15rem var(--main-color);
}

.form__submit-button {
    color: var(--submit-button-text-color);
    background-color: var(--main-color);
    border-radius: 0.8rem;
    border: none;
    text-align: center;
    height: 5.6rem;
    margin-bottom: 4.4rem;
}

.form__submit-button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--gradient-color-1), var(--gradient-color-2));
}





.form__email-input--error-modifier{
    border: solid 0.15rem var(--error-text-color);
    background-color: var(--error-form-border-selected-background);
    color: var(--error-text-color);
}

.form__email-input--error-modifier:focus{
    border: solid 0.15rem var(--error-text-color);
    background-color: var(--error-form-border-selected-background);
    color: var(--error-text-color);
}